<div id="edit-targets">
	<%= form_with model: @team, data: {turbo_frame: "_top"} do |form| %>
    <%= render FieldsComponent.new(team_targets_form(form), form: form) %>
		<%= form.hidden_field :rdx, value: @rdx if @rdx %>
		<%= render @submit %>
	<% end %>
</div>
