<div id="seasons-index">
  <%= render FieldsComponent.new(fields: @header) %>
  <%= render FieldsComponent.new(fields: @links) %>
  <%= render GridComponent.new(g_head: @g_head, g_rows: @g_rows) %>
</div>
