<div id="slot-breakdown">
  <tr>
    <% if t_hour.min==0 %>
      <td align="center" class="align-top text-sm">
        <%= t_hour.hour.to_s.rjust(2,"0") + ":00" %>
    <% else %>
      <td>&nbsp;
    <% end %>
    </td>
		<% 1.upto(5) do |i| %>
      <% empty_slot = true %>
      <% @slots.each do |t_slot| %>
        <% srows = t_slot.timerows(i,t_hour) %>
        <% if srows %>
          <td align="center" class="bg-blue-300 rounded-md border px py hover:text-white hover:bg-blue-700" rowspan=<%= srows.to_s %>>
            <%= link_to t_slot.team.to_s, slot_path(t_slot, season_id: params[:season_id]), class: "hover:text-white hover:bg-blue-700", data: {turbo_frame: "modal"} %>
          </td>
          <% empty_slot = false %>
        <% elsif t_slot.at_work?(i,t_hour) %>
          <% empty_slot = false %>
        <% end %>
      <% end %>
      <% if empty_slot %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
</div>
