<div id="slot-breakdown">
  <tr>
    <td align="center">
      <%= t_hour.min==0 ? t_hour.hour.to_s.rjust(2,"0") + ":" + t_hour.min.to_s.rjust(2,"0") : "" %>
    </td>
		<% 1.upto(5) do |i| %>
      <% empty_slot = true %>
      <% @training_slots.each do |t_slot| %>
        <% srows = t_slot.timerows(i,t_hour) %>
        <% if srows %>
          <td class="bg-blue-300 rounded-md border px py" rowspan=<%= srows.to_s %>>
            <%= link_to t_slot.team.to_s, t_slot, class: "hover:text-white hover:bg-blue-700" %>
          </td>
          <% empty_slot = false %>
        <% elsif t_slot.at_work?(i,t_hour) %>
          <% empty_slot = false %>
        <% end %>
      <% end %>
      <% if empty_slot %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
</div>
