<div id="slot-breakdown">
  <tr>
		<td align="center" class="border px py"><%= t_hour.hour.to_s.rjust(2,"0") + ":" + t_hour.min.to_s.rjust(2,"0") %></td>
		<% 1.upto(5) do |i| %>
			<td class="border px py">
				<% @training_slots.each do |t_slot| %>
					<% if t_slot.at_work?(i,t_hour) %>
						<%= link_to t_slot.team.name, t_slot, data: {"turbo-frame": "modal" }, class: "hover:text-blue-700" %>
            <br>
					<% end %>
				<% end %>
			</td>
		<% end %>
  </tr>
</div>
