<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a CB Mairena, <%= @user.name %></h1>
    <p>
      Tu cuenta en la app ya está lista,
      tu usuario es: <%= @user.login %>.<br>
    </p>
    <p>
      Para entrar, sigue este enlace: <%= @url %>.
    </p>
    <p>¡Gracias!</p>
  </body>
</html>
