<div id="people-header">
  <table>
    <tr>
      <th rowspan="2">
        <%= image_tag "person.svg", size: "50x50"%>
      </th>
      <th align="left" class="align-top text-yellow-600"><%= title %></th>
    </tr><tr>
      <%= render "shared/text_search", search_in: people_path %>
    </tr>
  </table>
</div>
