<div id="people-index">
	<%= render FieldsComponent.new(fields: @title) %>
	<%= turbo_frame_tag "search-results" do %>
		<%= render GridComponent.new(grid: @grid) %>
	<% end %>
	<% if current_user.admin? %>
		<br>
		<%= render "shared/import_export", import_path: import_people_path, export_path: people_path(format: :xlsx) %>
	<% end %>
</div>
