<div class="flow-root mt-3">
  <div class="float-left ml-1">
    <%= render ButtonComponent.new(button: @close) %>
  </div>
  <div class="float-right mr-1">
    <%= render ButtonComponent.new(button: @submit) if @submit %>
  </div>
</div>
