<div class="flow-root mt-3 mb-1">
  <div class="float-left mr-3 ml-1">
    <%= render ButtonComponent.new(button: @close) if @close %>
  </div>
  <div class="float-right ml-3 mr-1">
    <%= render ButtonComponent.new(button: @submit) if @submit %>
  </div>
</div>
