<%= form_for @sport.generic, authenticity_token: true, data: {controller: "mandatory-fields", turbo_frame: "_top"} do |form| %>
	<div id="edit_sport">
		<% @fields.form = form %>
		<%= render @fields %>
		<%= render @submit %>
	</div>
<% end %>
