<%= render "shared/modal", simple: true do %>
  <%= render "divisions_header", label: t(:l_div_show) %>
    <table>
      <tr>
        <th><%= @division.name %></th>
      </tr>
    </table>
<% end %>
