<div id="export">
	<%= link_to export_path do %>
		<div class="inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200">
			<%= t("action.export") %>
			<%= image_tag "export.svg", class: "align-top max-h-7 min-h-5" %>
		</div>
	<% end %>
</div>
