<div id="import-export">
	<% if export_path %>
		<%= render ButtonComponent.new(button: {kind: "export", url: export_path, working: false}) %>
	<% end %>
	<% if import_path %>
		<div id="import" class="mt-3">
			<%= form_with url: import_path, local: true do |form| %>
				<%= form.file_field :file %>
				<br>
				<%= render ButtonComponent.new(button: {kind: "import", working: false}) %>
			<% end %>
		</div>
	<% end %>
</div>
