<%= turbo_frame_tag "modal" do %>
  <div
    data-controller="modal"
    data-action="keyup@document->modal#handleKeyup"
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div class="flex items-end bg-white justify-center my-20 pt-4 px-4 text-center sm:block sm:p-0">
      <div
      data-modal-target="body"
      class="inline-block align-bottom rounded-lg px-4 py-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w sm:w-full sm:h-full sm:p-2">
        <%= turbo_frame_tag "modal-body" do %>
          <%= yield %>
        <% end %>
        <div class="h-12 w-12 rounded-full mb-0">
          <%= image_submit_tag "close.png", height: 25, class: "modal-close align-middle", alt: "Cerrar" %>
          <!-- button data-action="click->modal#close">(CERRAR)</button>
            -->
        </div>
      </div>
    </div>
  </div>
<% end %>
