<button class="save-button inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200 align-middle" data-confirm="<%= t(:q_save_chng) %>">
  <%= t(:m_save) %>
  <%= image_tag "save.svg", class: "max-h-7 min-h-5" %>
</button>
