<div class="flow-root mt-3">
  <% close_return = local_assigns.fetch(:close_return, nil) %>
  <% save = local_assigns.fetch(:save, nil) %>
  <div class="float-left">
    <% if close_return %>
      <%= link_to close_return do %>
        <%= image_submit_tag "close.svg", class: "extended-modal-close align-middle rounded-lg hover:bg-red-200 max-h-7 min-h-5", alt: "Cerrar", "data-action": "click->extended-modal#close" %>
      <% end %>
    <% else %>
      <%= image_submit_tag "close.svg", class: "extended-modal-close align-middle rounded-lg hover:bg-red-200 max-h-7 min-h-5", alt: "Cerrar", "data-action": "click->extended-modal#close" %>
    <% end %>
  </div>
  <% if save %>
    <div class="float-right">
      <%= image_submit_tag "save.svg", class: "save_button align-middle rounded-lg hover:bg-green-200 max-h-7 min-h-5", alt: "Guardar", data: {confirm: "¿Guardar cambios?"} %>
    </div>
  <% end %>
</div>
