<%= render ModalComponent.new do %>
	<%= form_for @club, authenticity_token: true, data: {turbo_frame: "_top"} do |form| %>
		<div id="home-logged-in">
			<% @fields.form = form %>
			<%= render @fields %>
			<%= render @submit %>
		</div>
	<% end %>
<% end %>
