<%= form_with model: event, authenticity_token: true, data: {title: title, turbo_frame: "_top"} do |form| %>
  <%= render FieldsComponent.new(fields: @title, form: form) %>
  <br>
  <div id="edit-event-data">
    <% if event.train? %>
      <%= render 'edit_session', form: form, title: title %>
    <% end %>
  </div>
  <%= render SubmitComponent.new(submit: "save", c_label: t(:m_cancel), close_return: close_return) %>
<% end %>
