<%= form_with model: event, authenticity_token: true, data: { title: title, turbo_frame: "_top" } do |form| %>
  <%= render FieldsComponent.new(fields: @title, form: form) %>
  <br>
  <div id="edit-event-data">
    <% if event.train? %>
      <%= render 'edit_session', form: form, title: title %>
    <% end %>
  </div>
  <% #= render "shared/modal_bottom", close_return: (event.persisted? ? event_path : events_path), save: true %>
  <%= render SubmitComponent.new(submit: "save", close_return: close_return) %>
<% end %>
