<tr>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= @event.home? ? @event.team.to_s : @event.name %></th>
  <td class="border px py"></td>
</tr><tr>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= @event.home? ? @event.name : @event.team.to_s %></th>
  <td class="border px py"></td>
</tr>
