<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<%= render FieldsComponent.new(
		[
			[{kind: :side_cell, value: t("action.login"), align: "center", cols: 5}],
			[
				{kind: :header_icon, symbol: "user", rows: 2},
				{kind: :symbol, symbol: {concept:"email", type: :button}},
				{kind: :email_box, key: :email, autocomplete: I18n.t("person.email"), cols: 3}
			],
			[
				{kind: :symbol, symbol: "key"},
				{kind: :password_box, key: :password, autocomplete: I18n.t("password.single"), cols: 3}
			],
			[
				gap_field(size: 1, cols: 2),
				{kind: :label_checkbox, label: I18n.t("action.remember"), key: :remember_me, right: true},
				gap_field,
				{kind: :button, button: {kind: :login, label: t("action.login"), confirm: I18n.t("question.login"), align: "right"}}
			]
		],
		form: f
	) %>
	<div class="text-right text-sm"><%= render "devise/shared/links" %></div>
<% end %>
