<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<%= render FieldsComponent.new(form: f, fields:
		[
			[{kind: "side-cell", value: t("action.login"), align: "center", cols: 5}],
			[
				{kind: "header-icon", value: "user.svg", rows: 2},
				{kind: "icon", value: "at.svg"},
				{kind: "email-box", key: :email, autocomplete: "email", cols: 3}
			],
			[
				{kind: "icon", value: "key.svg"},
				{kind: "password-box", key: :password, autocomplete: "password", cols: 3}
			],
			[
				{kind: "gap", size: 1, cols: 2},
				{kind: "label-checkbox", label: t("action.remember"), key: :remember_me, right: true},
				{kind: "gap"},
				{kind: "button", button: {kind: "login", label: t("action.login"), align: "right"}}
			]
		])
	%>
	<div class="text-right text-sm"><%= render "devise/shared/links" %></div>
<% end %>
