<div id="coaches-index">
	<%= turbo_frame_tag "search-results" do %>
		<%= render @grid %>
	<% end %>
	<% if u_admin? %>
		<br>
		<%= render "shared/import_export", import_path: import_coaches_path, export_path: coaches_path(format: :xlsx) %>
	<% end %>
</div>
