<div id="coaches-index">
	<%= render "coaches_header", title: t(:l_coach_index) %>
	<%= render "coaches_grid" %>
	<% if current_user.admin? %>
		<%= render "shared/import_export", import_path: import_coaches_path, export_path: coaches_path(format: :xlsx) %>
	<% end %>
</div>
