<%= render "shared/modal", simple: true, edit: (current_user.admin? or current_user.person.coach_id==@coach.id) ? edit_coach_path(@coach) : nil do %>
	<%= render HeaderComponent.new(header: @header) %>
	<% unless @coach.teams.empty? %>
		<table>
			<tr>
				<td align="center" class="align-top"><strong><%= t(:l_team_index) %></strong></td>
				<td>
					<% @coach.teams.each do |t| %>
						<%= link_to t.to_s, t %>
						<br>
					<% end %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>
