<%= render "shared/modal", simple: true, edit: (current_user.admin? or current_user.person.coach_id==@coach.id) ? edit_coach_path(@coach) : nil do %>
	<%= render FieldsComponent.new(fields: @fields) %>
	<% unless @coach.teams.empty? %>
		<table>
			<tr>
				<td align="center" class="align-top font-semibold"><%= t(:l_team_index) %></td>
				<td>
					<%= render GridComponent.new(grid: @grid) %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>
