<div id="players-index">
	<%= render "players_header", title: t(:l_player_index) %>
	<%= render "players_grid" %>
	<br>
	<% if current_user.admin? %>
		<%= render "shared/import_export", import_path: import_players_path, export_path: players_path(format: :xlsx) %>
	<% end %>
</div>
