<div id="players-index">
	<%= render FieldsComponent.new(fields: @fields) %>
	<%= render "players_grid" %>
	<br>
	<% if current_user.admin? %>
		<%= render "shared/import_export", import_path: import_players_path, export_path: players_path(format: :xlsx) %>
	<% end %>
</div>
