<div id="players-index">
	<%= render "players_header", label: t(:l_player_index) %>
	<%= render "players_grid" %>
	<br>
	<% if current_user.admin? %>
		<%= render "import_export" %>
	<% end %>
</div>
