<div id="players-index">
	<%= render FieldsComponent.new(fields: @title) %>
	<%= render GridComponent.new(grid: @grid) %>
	<% if current_user.admin? %>
		<br>
		<%= render "shared/import_export", import_path: import_players_path, export_path: players_path(format: :xlsx) %>
	<% end %>
</div>
