<div id="category-header">
  <table>
    <tr>
      <th>
        <%= image_tag "category.svg", size: "50x50" %>
      </th>
      <th align="left" class="align-top text-yellow-600"><%= label %></th>
    </tr>
  </table>
</div>
