<div id="locations-header">
  <table>
    <tr>
      <th rowspan="2">
        <%= image_tag("location.svg", size: "50x50") %>
      </th>
      <th align="left" class="align-top text-yellow-600"><%= title %></th>
    </tr><tr>
      <% if @season %>
        <th align="left"><%= @season.name %><th>
      <% else %>
        <%= render "shared/text_search", search_in: locations_path %>
      <% end %>
    </tr>
  </table>
</div>
