<div data-controller="reveal existence"
     data-action="reveal:hidden->existence#remove existence:added->reveal#show">
  <div hidden data-reveal data-transition
       data-transition-enter="transition transform ease-out duration-500"
       data-transition-enter-start="translate-x-full"
       data-transition-enter-end="translate-x-0"
       data-transition-leave="transition transform ease-out duration-300"
       data-transition-leave-start="translate-x-0"
       data-transition-leave-end="translate-x-full">
    <button data-action="click->reveal#hide">Cerrar</button>
    <%= yield %>
  </div>
</div>
